@model IEnumerable<MovieTracker.Classes.Films>

<h2>Movies List</h2>
<table class="table">
    <thead>
        <tr>
            <th>Film Name</th>
            <th>Genre</th>
            <th>Date Watched</th>
            <th>Rating</th>
            <th>Review</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var film in Model)
        {
            <tr>
                <td>@film.MovieName</td>
                <td>@film.MovieGenre</td>
                <td>@film.DateWatched.ToString("yyyy-MM-dd")</td>
                <td>@film.Rating</td>
                <td>@film.Review</td>
            </tr>
        }
    </tbody>
</table>
<a href="/Films/Create">Add a New Movie</a>
